[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1"
django-extensions = "*"
django-widget-tweaks = "*"

[dev-packages]

[requires]
python_version = "3.9"
